{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "document": true,
    "fetch": true,
    "window": true,
    "chrome": true
  }
}